# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Pp]rofileData*/

# Rider / VS / VSCode / etc.
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db
